#ruby, #css, #java, #trackAnnounce {
  display: none;
}

h1 {
  color: lightblue;
}

.container {
  text-align: center;
}

.form-group {
  text-align: left;
}

#showAll {
  color: blue;
  text-decoration: underline;;
}

button {
  background-color: #E1E1E1;
}
